<ion-view view-title="Search">
	<ion-header-bar class="bar-subheader">
		<span class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<form ng-submit="searchUser(query)">
				<input type="search" placeholder="Search" ng-model="query" autofocus/>
				<button type="button"
								ng-if="query.length"
								class="input-button button button-icon ion-close"
								ng-click="clear()">
				</button>
			</form>
		</span>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="m in members" type="item-text-wrap" ng-click="goLocate(m)">
				<img ng-src="{{m.member.thumbnail_large_url}}">
				<h2>{{m.member.display_name}}</h2>
				<p>@{{m.member.account.username}} <b>{{m.member.online ? "Online" : "Offline"}}</b> {{dispDist(m.member.distance)}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
		
		<ion-infinite-scroll
			 ng-if="moreDataCanBeLoaded"
			 icon="ion-loading-c"
			 on-infinite="loadMoreData()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
