<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	  <!-- Search Tab -->
		<ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
			<ion-nav-view name="tab-search"></ion-nav-view>
		</ion-tab>
		
		<!-- Nearby Tab -->
		<ion-tab title="Nearby" icon-off="ion-location" icon-on="ion-location" href="#/tab/near">
			<ion-nav-view name="tab-near"></ion-nav-view>
		</ion-tab>
		
</ion-tabs>
